.bg
{
    background-image: url(C:\Users\Admin\Desktop\react\project\src\images\tableb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 110vh;
    width: 100%;
    
}